In [13]:
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
import json

pd.options.mode.chained_assignment = None  # default='warn'

#Pull in CSV paths
csvDD = "csv data/Clean Drug Data.csv"
csvUER = "csv data/Clean Unemployment Rate.csv"
csvST = "csv data/Stress by State.csv"

In [2]:
druguse_data = pd.read_csv(csvDD)
unemployment_data = pd.read_csv(csvUER)
stress_data = pd.read_csv(csvST)

In [3]:
#Set DataFrames
druguse_df = pd.DataFrame(druguse_data)
unemployment_df = pd.DataFrame(unemployment_data)
stress_df = pd.DataFrame(stress_data)

In [5]:
druguse_cleaned = druguse_df.filter(['state', 'year', 'indicator', 'data_value', 'state_name'])
druguse_ods = druguse_cleaned[druguse_cleaned['indicator'] == 'Number of Drug Overdose Deaths']
druguse_totaldeaths = druguse_cleaned[druguse_cleaned['indicator'] == 'Number of Deaths']

druguse_ods.rename(columns = {'data_value': 'OD_Deaths'}, inplace = True)
druguse_totaldeaths.rename(columns = {'data_value': 'TOTAL_Deaths'}, inplace = True)

drug_death_merge = druguse_ods.merge(druguse_totaldeaths, how ='inner', left_on=['state', 'year'], right_on=['state', 'year'])

drug_death_filtered = drug_death_merge.filter(['year', 'indicator', 'OD_Deaths', 'TOTAL_Deaths', 'state_name_x'])

drug_death_filtered['OD_perctage'] = drug_death_filtered.OD_Deaths / drug_death_filtered.TOTAL_Deaths * 100

drug_death_filtered.rename(columns = {'state_name_x': 'state' }, inplace = True)

##drug_death_final = drug_death_filtered.set_index('state')


drug_death_filtered.head()

   year  OD_Deaths  TOTAL_Deaths    state  OD_perctage
0  2015      121.0        4193.0   Alaska     2.885762
1  2016      129.0        4355.0   Alaska     2.962113
2  2017      141.0        4279.0   Alaska     3.295162
3  2018      105.0        4340.0   Alaska     2.419355
4  2015      720.0       50870.0  Alabama     1.415373

In [42]:
unemployment_df.head()

combined_merge = unemployment_df.merge(drug_death_filtered, how ='inner', left_on=['state', 'year'], right_on=['state', 'year'])

combinded_merge_final = combined_merge.set_index('state')
combinded_merge_final

,year,month,unemployment_rate,OD_Deaths,TOTAL_Deaths,OD_perctage
state,,,,,,
Alabama,2015,12,6.0,720.0,50870.0,1.415373
Alaska,2015,12,6.7,121.0,4193.0,2.885762
Arizona,2015,12,5.7,1267.0,54853.0,2.309810
Arkansas,2015,12,4.3,381.0,30986.0,1.229588
California,2015,12,5.7,4762.0,260172.0,1.830328
...,...,...,...,...,...,...
Virginia,2018,12,3.0,1434.0,68469.0,2.094378
Washington,2018,12,4.5,1163.0,56928.0,2.042931
West Virginia,2018,12,4.9,883.0,22940.0,3.849172
Wisconsin,2018,12,3.0,1087.0,53556.0,2.029651
Wyoming,2018,12,3.6,61.0,4665.0,1.307610

In [43]:
cocaine_data = druguse_cleaned[druguse_cleaned['indicator'] == 'Cocaine (T40.5)']
heroin_data = druguse_cleaned[druguse_cleaned['indicator'] == 'Heroin (T40.1)']
opiodids_data = druguse_cleaned[druguse_cleaned['indicator'] == 'Opioids (T40.0-T40.4,T40.6)']

cocaine_data.rename(columns = {'data_value': 'coke_od'}, inplace = True)
heroin_data.rename(columns = {'data_value': 'her_od'}, inplace = True)
opiodids_data.rename(columns = {'data_value': 'opi_od'}, inplace = True)



heroin_data

     state  year       indicator  her_od     state_name
9       AK  2015  Heroin (T40.1)     0.0         Alaska
15      AK  2016  Heroin (T40.1)    49.0         Alaska
25      AK  2017  Heroin (T40.1)    36.0         Alaska
38      AK  2018  Heroin (T40.1)    28.0         Alaska
81      AZ  2015  Heroin (T40.1)     0.0        Arizona
...    ...   ...             ...     ...            ...
1846    WY  2018  Heroin (T40.1)     0.0        Wyoming
1855    YC  2015  Heroin (T40.1)   408.0  New York City
1866    YC  2016  Heroin (T40.1)   574.0  New York City
1878    YC  2017  Heroin (T40.1)   643.0  New York City
1889    YC  2018  Heroin (T40.1)   605.0  New York City

[140 rows x 5 columns]

In [44]:
merge1 = cocaine_data.merge(heroin_data, how ='inner', left_on=['state_name', 'year'], right_on=['state_name', 'year'])
merge2 = merge1.merge(opiodids_data, how ='inner', left_on=['state_name', 'year'], right_on=['state_name', 'year'])
merge_clean = merge2.filter(['state_name', 'year', 'coke_od', 'her_od', 'opi_od'])
merge_clean.rename(columns = {'state_name': 'state'}, inplace = True)
merge_clean['OD_sum'] = merge_clean.coke_od + merge_clean.her_od + merge_clean.opi_od
merge_clean['coke_per'] = merge_clean.coke_od / merge_clean.OD_sum * 100
merge_clean['her_per'] = merge_clean.her_od / merge_clean.OD_sum * 100
merge_clean['opi_per'] = merge_clean.opi_od / merge_clean.OD_sum * 100

merge_clean_final = merge_clean.set_index('state')
merge_clean_final

,year,coke_od,her_od,opi_od,OD_sum,coke_per,her_per,opi_per
state,,,,,,,,
Alaska,2015,0.0,0.0,0.0,0.0,NaN,NaN,NaN
Alaska,2016,15.0,49.0,96.0,160.0,9.375000,30.625000,60.000000
Alaska,2017,18.0,36.0,100.0,154.0,11.688312,23.376623,64.935065
Alaska,2018,10.0,28.0,65.0,103.0,9.708738,27.184466,63.106796
Arizona,2015,0.0,0.0,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
Wyoming,2018,0.0,0.0,41.0,41.0,0.000000,0.000000,100.000000
New York City,2015,290.0,408.0,726.0,1424.0,20.365169,28.651685,50.983146
New York City,2016,507.0,574.0,1136.0,2217.0,22.868742,25.890843,51.240415
New York City,2017,630.0,643.0,1201.0,2474.0,25.464834,25.990299,48.544867
New York City,2018,639.0,605.0,1155.0,2399.0,26.636098,25.218841,48.145060

In [45]:
engine = create_engine("sqlite:///OD_Data_byDrug.db", echo=True)
sqlite_connect = engine.connect()
Base = automap_base()
Base.prepare(engine, reflect = True)
Base.classes.keys()

sqlite_table = "OD Data by Drug Type"
merge_clean_final.to_sql(sqlite_table, sqlite_connect, if_exists='fail')

2020-10-03 11:08:27,367 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-10-03 11:08:27,368 INFO sqlalchemy.engine.base.Engine ()
2020-10-03 11:08:27,370 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-10-03 11:08:27,372 INFO sqlalchemy.engine.base.Engine ()
2020-10-03 11:08:27,377 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-10-03 11:08:27,377 INFO sqlalchemy.engine.base.Engine ()
2020-10-03 11:08:27,381 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("OD Data by Drug Type")
2020-10-03 11:08:27,383 INFO sqlalchemy.engine.base.Engine ()
2020-10-03 11:08:27,386 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'OD Data by Drug Type' AND type = 'table'
2020-10-03 11:08:27,387 INFO sqlalchemy.engine.base.Engine ()
2020-10-03 11:08:27,390 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("OD Data by Drug Type")
2020-10-03 11:08:27,392 INFO sqlalchemy.engine.base.Engine ()
2020-10-03 11:08:27,393 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("OD Data by Drug Type")
2020-10-03 11:08:27,394 INFO sqlalchemy.engine.base.Engine ()
2020-10-03 11:08:27,395 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'OD Data by Drug Type' AND type = 'table'
2020-10-03 11:08:27,396 INFO sqlalchemy.engine.base.Engine ()
2020-10-03 11:08:27,398 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("OD Data by Drug Type")
2020-10-03 11:08:27,399 INFO sqlalchemy.engine.base.Engine ()
2020-10-03 11:08:27,401 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_OD Data by Drug Type_state")
2020-10-03 11:08:27,402 INFO sqlalchemy.engine.base.Engine ()
2020-10-03 11:08:27,405 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("OD Data by Drug Type")
2020-10-03 11:08:27,406 INFO sqlalchemy.engine.base.Engine ()
2020-10-03 11:08:27,408 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_OD Data by Drug Type_state")
2020-10-03 11:08:27,409 INFO sqlalchemy.engine.base.Engine ()
2020-10-03 11:08:27,412 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'OD Data by Drug Type' AND type = 'table'
2020-10-03 11:08:27,413 INFO sqlalchemy.engine.base.Engine ()
2020-10-03 11:08:27,424 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("OD Data by Drug Type")
2020-10-03 11:08:27,425 INFO sqlalchemy.engine.base.Engine ()

ValueError: Table 'OD Data by Drug Type' already exists.

In [46]:
engine = create_engine("sqlite:///OD_DeathratevsUnemployment.db", echo=True)
sqlite_connect = engine.connect()
Base = automap_base()
Base.prepare(engine, reflect = True)
Base.classes.keys()

sqlite_table = "OD Data Rate versus Unemployment Rate"
combinded_merge_final.to_sql(sqlite_table, sqlite_connect, if_exists='fail')

2020-10-03 11:08:29,493 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-10-03 11:08:29,494 INFO sqlalchemy.engine.base.Engine ()
2020-10-03 11:08:29,495 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-10-03 11:08:29,496 INFO sqlalchemy.engine.base.Engine ()
2020-10-03 11:08:29,498 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-10-03 11:08:29,499 INFO sqlalchemy.engine.base.Engine ()
2020-10-03 11:08:29,502 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("OD Data Rate versus Unemployment Rate")
2020-10-03 11:08:29,503 INFO sqlalchemy.engine.base.Engine ()
2020-10-03 11:08:29,505 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'OD Data Rate versus Unemployment Rate' AND type = 'table'
2020-10-03 11:08:29,507 INFO sqlalchemy.engine.base.Engine ()
2020-10-03 11:08:29,508 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("OD Data Rate versus Unemployment Rate")
2020-10-03 11:08:29,509 INFO sqlalchemy.engine.base.Engine ()
2020-10-03 11:08:29,510 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("OD Data Rate versus Unemployment Rate")
2020-10-03 11:08:29,512 INFO sqlalchemy.engine.base.Engine ()
2020-10-03 11:08:29,513 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'OD Data Rate versus Unemployment Rate' AND type = 'table'
2020-10-03 11:08:29,514 INFO sqlalchemy.engine.base.Engine ()
2020-10-03 11:08:29,516 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("OD Data Rate versus Unemployment Rate")
2020-10-03 11:08:29,517 INFO sqlalchemy.engine.base.Engine ()
2020-10-03 11:08:29,518 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_OD Data Rate versus Unemployment Rate_state")
2020-10-03 11:08:29,519 INFO sqlalchemy.engine.base.Engine ()
2020-10-03 11:08:29,521 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("OD Data Rate versus Unemployment Rate")
2020-10-03 11:08:29,522 INFO sqlalchemy.engine.base.Engine ()
2020-10-03 11:08:29,523 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_OD Data Rate versus Unemployment Rate_state")
2020-10-03 11:08:29,524 INFO sqlalchemy.engine.base.Engine ()
2020-10-03 11:08:29,526 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'OD Data Rate versus Unemployment Rate' AND type = 'table'
2020-10-03 11:08:29,527 INFO sqlalchemy.engine.base.Engine ()
2020-10-03 11:08:29,533 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("OD Data Rate versus Unemployment Rate")
2020-10-03 11:08:29,535 INFO sqlalchemy.engine.base.Engine ()

ValueError: Table 'OD Data Rate versus Unemployment Rate' already exists.

In [9]:
drug_db_df = pd.read_sql_table('OD Data by Drug Type', 'sqlite:///OD_Data_byDrug.db')  
drug_db_df.head()

,state,year,coke_od,her_od,opi_od,OD_sum,coke_per,her_per,opi_per
0,Alaska,2015,0.0,0.0,0.0,0.0,NaN,NaN,NaN
1,Alaska,2016,15.0,49.0,96.0,160.0,9.375000,30.625000,60.000000
2,Alaska,2017,18.0,36.0,100.0,154.0,11.688312,23.376623,64.935065
3,Alaska,2018,10.0,28.0,65.0,103.0,9.708738,27.184466,63.106796
4,Arizona,2015,0.0,0.0,0.0,0.0,NaN,NaN,NaN

In [25]:
drug_dict = drug_db_df.to_dict('records')
drug_json = json.dumps(drug_dict, indent = 2)
print(drug_json)
#with open('test2.json', 'w') as f:
#    json.dump(drug_dict, f)

[
  {
    "state": "Alaska",
    "year": 2015,
    "coke_od": 0.0,
    "her_od": 0.0,
    "opi_od": 0.0,
    "OD_sum": 0.0,
    "coke_per": NaN,
    "her_per": NaN,
    "opi_per": NaN
  },
  {
    "state": "Alaska",
    "year": 2016,
    "coke_od": 15.0,
    "her_od": 49.0,
    "opi_od": 96.0,
    "OD_sum": 160.0,
    "coke_per": 9.375,
    "her_per": 30.625000000000004,
    "opi_per": 60.0
  },
  {
    "state": "Alaska",
    "year": 2017,
    "coke_od": 18.0,
    "her_od": 36.0,
    "opi_od": 100.0,
    "OD_sum": 154.0,
    "coke_per": 11.688311688311687,
    "her_per": 23.376623376623375,
    "opi_per": 64.93506493506493
  },
  {
    "state": "Alaska",
    "year": 2018,
    "coke_od": 10.0,
    "her_od": 28.0,
    "opi_od": 65.0,
    "OD_sum": 103.0,
    "coke_per": 9.70873786407767,
    "her_per": 27.184466019417474,
    "opi_per": 63.10679611650486
  },
  {
    "state": "Arizona",
    "year": 2015,
    "coke_od": 0.0,
    "her_od": 0.0,
    "opi_od": 0.0,
    "OD_sum": 0.0,
    "coke_per": NaN,
    "her_per": NaN,
    "opi_per": NaN
  },
  {
    "state": "Arizona",
    "year": 2016,
    "coke_od": 0.0,
    "her_od": 0.0,
    "opi_od": 0.0,
    "OD_sum": 0.0,
    "coke_per": NaN,
    "her_per": NaN,
    "opi_per": NaN
  },
  {
    "state": "Arizona",
    "year": 2017,
    "coke_od": 136.0,
    "her_od": 341.0,
    "opi_od": 936.0,
    "OD_sum": 1413.0,
    "coke_per": 9.62491153573956,
    "her_per": 24.13305024769993,
    "opi_per": 66.2420382165605
  },
  {
    "state": "Arizona",
    "year": 2018,
    "coke_od": 175.0,
    "her_od": 367.0,
    "opi_od": 1132.0,
    "OD_sum": 1674.0,
    "coke_per": 10.454002389486261,
    "her_per": 21.923536439665472,
    "opi_per": 67.62246117084827
  },
  {
    "state": "Connecticut",
    "year": 2015,
    "coke_od": 168.0,
    "her_od": 394.0,
    "opi_od": 686.0,
    "OD_sum": 1248.0,
    "coke_per": 13.461538461538462,
    "her_per": 31.570512820512818,
    "opi_per": 54.96794871794872
  },
  {
    "state": "Connecticut",
    "year": 2016,
    "coke_od": 237.0,
    "her_od": 459.0,
    "opi_od": 869.0,
    "OD_sum": 1565.0,
    "coke_per": 15.143769968051119,
    "her_per": 29.329073482428115,
    "opi_per": 55.52715654952076
  },
  {
    "state": "Connecticut",
    "year": 2017,
    "coke_od": 290.0,
    "her_od": 428.0,
    "opi_od": 967.0,
    "OD_sum": 1685.0,
    "coke_per": 17.210682492581604,
    "her_per": 25.40059347181009,
    "opi_per": 57.388724035608305
  },
  {
    "state": "Connecticut",
    "year": 2018,
    "coke_od": 307.0,
    "her_od": 342.0,
    "opi_od": 957.0,
    "OD_sum": 1606.0,
    "coke_per": 19.115815691158154,
    "her_per": 21.29514321295143,
    "opi_per": 59.589041095890416
  },
  {
    "state": "District of Columbia",
    "year": 2015,
    "coke_od": 37.0,
    "her_od": 83.0,
    "opi_od": 112.0,
    "OD_sum": 232.0,
    "coke_per": 15.948275862068966,
    "her_per": 35.775862068965516,
    "opi_per": 48.275862068965516
  },
  {
    "state": "District of Columbia",
    "year": 2016,
    "coke_od": 99.0,
    "her_od": 146.0,
    "opi_od": 230.0,
    "OD_sum": 475.0,
    "coke_per": 20.842105263157894,
    "her_per": 30.736842105263158,
    "opi_per": 48.421052631578945
  },
  {
    "state": "District of Columbia",
    "year": 2017,
    "coke_od": 139.0,
    "her_od": 144.0,
    "opi_od": 271.0,
    "OD_sum": 554.0,
    "coke_per": 25.09025270758123,
    "her_per": 25.992779783393498,
    "opi_per": 48.91696750902527
  },
  {
    "state": "District of Columbia",
    "year": 2018,
    "coke_od": 131.0,
    "her_od": 93.0,
    "opi_od": 213.0,
    "OD_sum": 437.0,
    "coke_per": 29.97711670480549,
    "her_per": 21.28146453089245,
    "opi_per": 48.74141876430206
  },
  {
    "state": "Delaware",
    "year": 2015,
    "coke_od": 0.0,
    "her_od": 0.0,
    "opi_od": 0.0,
    "OD_sum": 0.0,
    "coke_per": NaN,
    "her_per": NaN,
    "opi_per": NaN
  },
  {
    "state": "Delaware",
    "year": 2016,
    "coke_od": 0.0,
    "her_od": 0.0,
    "opi_od": 0.0,
    "OD_sum": 0.0,
    "coke_per": NaN,
    "her_per": NaN,
    "opi_per": NaN
  },
  {
    "state": "Delaware",
    "year": 2017,
    "coke_od": 0.0,
    "her_od": 0.0,
    "opi_od": 0.0,
    "OD_sum": 0.0,
    "coke_per": NaN,
    "her_per": NaN,
    "opi_per": NaN
  },
  {
    "state": "Delaware",
    "year": 2018,
    "coke_od": 143.0,
    "her_od": 147.0,
    "opi_od": 361.0,
    "OD_sum": 651.0,
    "coke_per": 21.96620583717358,
    "her_per": 22.58064516129032,
    "opi_per": 55.4531490015361
  },
  {
    "state": "Georgia",
    "year": 2015,
    "coke_od": 164.0,
    "her_od": 228.0,
    "opi_od": 868.0,
    "OD_sum": 1260.0,
    "coke_per": 13.015873015873018,
    "her_per": 18.095238095238095,
    "opi_per": 68.88888888888889
  },
  {
    "state": "Georgia",
    "year": 2016,
    "coke_od": 213.0,
    "her_od": 215.0,
    "opi_od": 911.0,
    "OD_sum": 1339.0,
    "coke_per": 15.907393577296489,
    "her_per": 16.056758775205378,
    "opi_per": 68.03584764749814
  },
  {
    "state": "Georgia",
    "year": 2017,
    "coke_od": 261.0,
    "her_od": 262.0,
    "opi_od": 1003.0,
    "OD_sum": 1526.0,
    "coke_per": 17.10353866317169,
    "her_per": 17.169069462647442,
    "opi_per": 65.72739187418087
  },
  {
    "state": "Georgia",
    "year": 2018,
    "coke_od": 270.0,
    "her_od": 312.0,
    "opi_od": 853.0,
    "OD_sum": 1435.0,
    "coke_per": 18.81533101045296,
    "her_per": 21.742160278745644,
    "opi_per": 59.44250871080139
  },
  {
    "state": "Hawaii",
    "year": 2015,
    "coke_od": 0.0,
    "her_od": 0.0,
    "opi_od": 0.0,
    "OD_sum": 0.0,
    "coke_per": NaN,
    "her_per": NaN,
    "opi_per": NaN
  },
  {
    "state": "Hawaii",
    "year": 2016,
    "coke_od": 0.0,
    "her_od": 20.0,
    "opi_od": 82.0,
    "OD_sum": 102.0,
    "coke_per": 0.0,
    "her_per": 19.607843137254903,
    "opi_per": 80.3921568627451
  },
  {
    "state": "Hawaii",
    "year": 2017,
    "coke_od": 0.0,
    "her_od": 0.0,
    "opi_od": 0.0,
    "OD_sum": 0.0,
    "coke_per": NaN,
    "her_per": NaN,
    "opi_per": NaN
  },
  {
    "state": "Hawaii",
    "year": 2018,
    "coke_od": 12.0,
    "her_od": 15.0,
    "opi_od": 58.0,
    "OD_sum": 85.0,
    "coke_per": 14.117647058823529,
    "her_per": 17.647058823529413,
    "opi_per": 68.23529411764706
  },
  {
    "state": "Iowa",
    "year": 2015,
    "coke_od": 16.0,
    "her_od": 43.0,
    "opi_od": 164.0,
    "OD_sum": 223.0,
    "coke_per": 7.174887892376682,
    "her_per": 19.282511210762333,
    "opi_per": 73.54260089686099
  },
  {
    "state": "Iowa",
    "year": 2016,
    "coke_od": 16.0,
    "her_od": 44.0,
    "opi_od": 180.0,
    "OD_sum": 240.0,
    "coke_per": 6.666666666666667,
    "her_per": 18.333333333333332,
    "opi_per": 75.0
  },
  {
    "state": "Iowa",
    "year": 2017,
    "coke_od": 18.0,
    "her_od": 64.0,
    "opi_od": 206.0,
    "OD_sum": 288.0,
    "coke_per": 6.25,
    "her_per": 22.22222222222222,
    "opi_per": 71.52777777777779
  },
  {
    "state": "Iowa",
    "year": 2018,
    "coke_od": 12.0,
    "her_od": 36.0,
    "opi_od": 137.0,
    "OD_sum": 185.0,
    "coke_per": 6.486486486486487,
    "her_per": 19.45945945945946,
    "opi_per": 74.05405405405405
  },
  {
    "state": "Illinois",
    "year": 2015,
    "coke_od": 340.0,
    "her_od": 876.0,
    "opi_od": 1419.0,
    "OD_sum": 2635.0,
    "coke_per": 12.903225806451612,
    "her_per": 33.24478178368121,
    "opi_per": 53.85199240986718
  },
  {
    "state": "Illinois",
    "year": 2016,
    "coke_od": 511.0,
    "her_od": 1069.0,
    "opi_od": 1985.0,
    "OD_sum": 3565.0,
    "coke_per": 14.333800841514726,
    "her_per": 29.985974754558203,
    "opi_per": 55.68022440392707
  },
  {
    "state": "Illinois",
    "year": 2017,
    "coke_od": 751.0,
    "her_od": 1215.0,
    "opi_od": 2214.0,
    "OD_sum": 4180.0,
    "coke_per": 17.966507177033492,
    "her_per": 29.066985645933013,
    "opi_per": 52.96650717703349
  },
  {
    "state": "Illinois",
    "year": 2018,
    "coke_od": 784.0,
    "her_od": 1090.0,
    "opi_od": 2193.0,
    "OD_sum": 4067.0,
    "coke_per": 19.27710843373494,
    "her_per": 26.801081878534543,
    "opi_per": 53.921809687730516
  },
  {
    "state": "Kentucky",
    "year": 2015,
    "coke_od": 0.0,
    "her_od": 0.0,
    "opi_od": 0.0,
    "OD_sum": 0.0,
    "coke_per": NaN,
    "her_per": NaN,
    "opi_per": NaN
  },
  {
    "state": "Kentucky",
    "year": 2016,
    "coke_od": 0.0,
    "her_od": 0.0,
    "opi_od": 0.0,
    "OD_sum": 0.0,
    "coke_per": NaN,
    "her_per": NaN,
    "opi_per": NaN
  },
  {
    "state": "Kentucky",
    "year": 2017,
    "coke_od": 0.0,
    "her_od": 0.0,
    "opi_od": 0.0,
    "OD_sum": 0.0,
    "coke_per": NaN,
    "her_per": NaN,
    "opi_per": NaN
  },
  {
    "state": "Kentucky",
    "year": 2018,
    "coke_od": 126.0,
    "her_od": 144.0,
    "opi_od": 1001.0,
    "OD_sum": 1271.0,
    "coke_per": 9.91345397324941,
    "her_per": 11.329661683713612,
    "opi_per": 78.75688434303699
  },
  {
    "state": "Massachusetts",
    "year": 2015,
    "coke_od": 400.0,
    "her_od": 624.0,
    "opi_od": 1549.0,
    "OD_sum": 2573.0,
    "coke_per": 15.546055188495918,
    "her_per": 24.251846094053633,
    "opi_per": 60.20209871745045
  },
  {
    "state": "Massachusetts",
    "year": 2016,
    "coke_od": 567.0,
    "her_od": 620.0,
    "opi_od": 1978.0,
    "OD_sum": 3165.0,
    "coke_per": 17.914691943127963,
    "her_per": 19.589257503949447,
    "opi_per": 62.49605055292259
  },
  {
    "state": "Massachusetts",
    "year": 2017,
    "coke_od": 701.0,
    "her_od": 460.0,
    "opi_od": 1896.0,
    "OD_sum": 3057.0,
    "coke_per": 22.930978083087993,
    "her_per": 15.047432122996401,
    "opi_per": 62.0215897939156
  },
  {
    "state": "Massachusetts",
    "year": 2018,
    "coke_od": 720.0,
    "her_od": 484.0,
    "opi_od": 1996.0,
    "OD_sum": 3200.0,
    "coke_per": 22.5,
    "her_per": 15.125,
    "opi_per": 62.375
  },
  {
    "state": "Maryland",
    "year": 2015,
    "coke_od": 145.0,
    "her_od": 422.0,
    "opi_od": 1130.0,
    "OD_sum": 1697.0,
    "coke_per": 8.54449027695934,
    "her_per": 24.867413081909252,
    "opi_per": 66.58809664113141
  },
  {
    "state": "Maryland",
    "year": 2016,
    "coke_od": 316.0,
    "her_od": 656.0,
    "opi_od": 1866.0,
    "OD_sum": 2838.0,
    "coke_per": 11.13460183227625,
    "her_per": 23.114869626497534,
    "opi_per": 65.75052854122622
  },
  {
    "state": "Maryland",
    "year": 2017,
    "coke_od": 524.0,
    "her_od": 516.0,
    "opi_od": 2037.0,
    "OD_sum": 3077.0,
    "coke_per": 17.029574260643486,
    "her_per": 16.769580760480988,
    "opi_per": 66.20084497887552
  },
  {
    "state": "Maryland",
    "year": 2018,
    "coke_od": 721.0,
    "her_od": 359.0,
    "opi_od": 2150.0,
    "OD_sum": 3230.0,
    "coke_per": 22.321981424148607,
    "her_per": 11.114551083591332,
    "opi_per": 66.56346749226006
  },
  {
    "state": "Maine",
    "year": 2015,
    "coke_od": 32.0,
    "her_od": 53.0,
    "opi_od": 235.0,
    "OD_sum": 320.0,
    "coke_per": 10.0,
    "her_per": 16.5625,
    "opi_per": 73.4375
  },
  {
    "state": "Maine",
    "year": 2016,
    "coke_od": 59.0,
    "her_od": 54.0,
    "opi_od": 306.0,
    "OD_sum": 419.0,
    "coke_per": 14.081145584725538,
    "her_per": 12.887828162291171,
    "opi_per": 73.0310262529833
  },
  {
    "state": "Maine",
    "year": 2017,
    "coke_od": 89.0,
    "her_od": 75.0,
    "opi_od": 348.0,
    "OD_sum": 512.0,
    "coke_per": 17.3828125,
    "her_per": 14.6484375,
    "opi_per": 67.96875
  },
  {
    "state": "Maine",
    "year": 2018,
    "coke_od": 87.0,
    "her_od": 67.0,
    "opi_od": 277.0,
    "OD_sum": 431.0,
    "coke_per": 20.185614849187935,
    "her_per": 15.54524361948956,
    "opi_per": 64.2691415313225
  },
  {
    "state": "North Carolina",
    "year": 2015,
    "coke_od": 313.0,
    "her_od": 381.0,
    "opi_od": 1159.0,
    "OD_sum": 1853.0,
    "coke_per": 16.891527253103074,
    "her_per": 20.561252023745276,
    "opi_per": 62.54722072315164
  },
  {
    "state": "North Carolina",
    "year": 2016,
    "coke_od": 496.0,
    "her_od": 547.0,
    "opi_od": 1497.0,
    "OD_sum": 2540.0,
    "coke_per": 19.52755905511811,
    "her_per": 21.53543307086614,
    "opi_per": 58.93700787401575
  },
  {
    "state": "North Carolina",
    "year": 2017,
    "coke_od": 711.0,
    "her_od": 519.0,
    "opi_od": 1921.0,
    "OD_sum": 3151.0,
    "coke_per": 22.564265312599176,
    "her_per": 16.470961599492227,
    "opi_per": 60.9647730879086
  },
  {
    "state": "North Carolina",
    "year": 2018,
    "coke_od": 709.0,
    "her_od": 616.0,
    "opi_od": 1780.0,
    "OD_sum": 3105.0,
    "coke_per": 22.8341384863124,
    "her_per": 19.838969404186795,
    "opi_per": 57.326892109500804
  },
  {
    "state": "New Hampshire",
    "year": 2015,
    "coke_od": 44.0,
    "her_od": 79.0,
    "opi_od": 378.0,
    "OD_sum": 501.0,
    "coke_per": 8.78243512974052,
    "her_per": 15.768463073852296,
    "opi_per": 75.44910179640718
  },
  {
    "state": "New Hampshire",
    "year": 2016,
    "coke_od": 53.0,
    "her_od": 26.0,
    "opi_od": 415.0,
    "OD_sum": 494.0,
    "coke_per": 10.728744939271255,
    "her_per": 5.263157894736842,
    "opi_per": 84.0080971659919
  },
  {
    "state": "New Hampshire",
    "year": 2017,
    "coke_od": 44.0,
    "her_od": 24.0,
    "opi_od": 434.0,
    "OD_sum": 502.0,
    "coke_per": 8.764940239043826,
    "her_per": 4.780876494023905,
    "opi_per": 86.45418326693228
  },
  {
    "state": "New Hampshire",
    "year": 2018,
    "coke_od": 61.0,
    "her_od": 0.0,
    "opi_od": 406.0,
    "OD_sum": 467.0,
    "coke_per": 13.062098501070663,
    "her_per": 0.0,
    "opi_per": 86.93790149892934
  },
  {
    "state": "New Jersey",
    "year": 2015,
    "coke_od": 0.0,
    "her_od": 0.0,
    "opi_od": 0.0,
    "OD_sum": 0.0,
    "coke_per": NaN,
    "her_per": NaN,
    "opi_per": NaN
  },
  {
    "state": "New Jersey",
    "year": 2016,
    "coke_od": 0.0,
    "her_od": 0.0,
    "opi_od": 0.0,
    "OD_sum": 0.0,
    "coke_per": NaN,
    "her_per": NaN,
    "opi_per": NaN
  },
  {
    "state": "New Jersey",
    "year": 2017,
    "coke_od": 0.0,
    "her_od": 0.0,
    "opi_od": 0.0,
    "OD_sum": 0.0,
    "coke_per": NaN,
    "her_per": NaN,
    "opi_per": NaN
  },
  {
    "state": "New Jersey",
    "year": 2018,
    "coke_od": 867.0,
    "her_od": 1287.0,
    "opi_od": 2564.0,
    "OD_sum": 4718.0,
    "coke_per": 18.37643069097075,
    "her_per": 27.27850784230606,
    "opi_per": 54.34506146672319
  },
  {
    "state": "New Mexico",
    "year": 2015,
    "coke_od": 50.0,
    "her_od": 153.0,
    "opi_od": 353.0,
    "OD_sum": 556.0,
    "coke_per": 8.992805755395683,
    "her_per": 27.51798561151079,
    "opi_per": 63.48920863309353
  },
  {
    "state": "New Mexico",
    "year": 2016,
    "coke_od": 56.0,
    "her_od": 164.0,
    "opi_od": 356.0,
    "OD_sum": 576.0,
    "coke_per": 9.722222222222223,
    "her_per": 28.47222222222222,
    "opi_per": 61.80555555555556
  },
  {
    "state": "New Mexico",
    "year": 2017,
    "coke_od": 52.0,
    "her_od": 145.0,
    "opi_od": 336.0,
    "OD_sum": 533.0,
    "coke_per": 9.75609756097561,
    "her_per": 27.204502814258912,
    "opi_per": 63.03939962476548
  },
  {
    "state": "New Mexico",
    "year": 2018,
    "coke_od": 53.0,
    "her_od": 130.0,
    "opi_od": 334.0,
    "OD_sum": 517.0,
    "coke_per": 10.251450676982591,
    "her_per": 25.145067698259187,
    "opi_per": 64.60348162475822
  },
  {
    "state": "Nevada",
    "year": 2015,
    "coke_od": 45.0,
    "her_od": 91.0,
    "opi_od": 446.0,
    "OD_sum": 582.0,
    "coke_per": 7.731958762886598,
    "her_per": 15.63573883161512,
    "opi_per": 76.6323024054983
  },
  {
    "state": "Nevada",
    "year": 2016,
    "coke_od": 44.0,
    "her_od": 92.0,
    "opi_od": 423.0,
    "OD_sum": 559.0,
    "coke_per": 7.8711985688729875,
    "her_per": 16.457960644007155,
    "opi_per": 75.67084078711986
  },
  {
    "state": "Nevada",
    "year": 2017,
    "coke_od": 59.0,
    "her_od": 104.0,
    "opi_od": 438.0,
    "OD_sum": 601.0,
    "coke_per": 9.816971713810316,
    "her_per": 17.304492512479204,
    "opi_per": 72.87853577371048
  },
  {
    "state": "Nevada",
    "year": 2018,
    "coke_od": 48.0,
    "her_od": 118.0,
    "opi_od": 396.0,
    "OD_sum": 562.0,
    "coke_per": 8.540925266903916,
    "her_per": 20.99644128113879,
    "opi_per": 70.46263345195729
  },
  {
    "state": "New York",
    "year": 2015,
    "coke_od": 354.0,
    "her_od": 660.0,
    "opi_od": 1452.0,
    "OD_sum": 2466.0,
    "coke_per": 14.355231143552311,
    "her_per": 26.763990267639905,
    "opi_per": 58.88077858880778
  },
  {
    "state": "New York",
    "year": 2016,
    "coke_od": 517.0,
    "her_od": 770.0,
    "opi_od": 1928.0,
    "OD_sum": 3215.0,
    "coke_per": 16.080870917573872,
    "her_per": 23.950233281493002,
    "opi_per": 59.96889580093313
  },
  {
    "state": "New York",
    "year": 2017,
    "coke_od": 690.0,
    "her_od": 748.0,
    "opi_od": 2063.0,
    "OD_sum": 3501.0,
    "coke_per": 19.70865467009426,
    "her_per": 21.36532419308769,
    "opi_per": 58.92602113681805
  },
  {
    "state": "New York",
    "year": 2018,
    "coke_od": 667.0,
    "her_od": 662.0,
    "opi_od": 1855.0,
    "OD_sum": 3184.0,
    "coke_per": 20.948492462311556,
    "her_per": 20.79145728643216,
    "opi_per": 58.26005025125628
  },
  {
    "state": "Ohio",
    "year": 2015,
    "coke_od": 705.0,
    "her_od": 1472.0,
    "opi_od": 2733.0,
    "OD_sum": 4910.0,
    "coke_per": 14.358452138492872,
    "her_per": 29.979633401221996,
    "opi_per": 55.66191446028513
  },
  {
    "state": "Ohio",
    "year": 2016,
    "coke_od": 1137.0,
    "her_od": 1469.0,
    "opi_od": 3627.0,
    "OD_sum": 6233.0,
    "coke_per": 18.241617198780684,
    "her_per": 23.568105246269855,
    "opi_per": 58.19027755494947
  },
  {
    "state": "Ohio",
    "year": 2017,
    "coke_od": 1576.0,
    "her_od": 1016.0,
    "opi_od": 4327.0,
    "OD_sum": 6919.0,
    "coke_per": 22.777858071975718,
    "her_per": 14.684202919497036,
    "opi_per": 62.537939008527246
  },
  {
    "state": "Ohio",
    "year": 2018,
    "coke_od": 1112.0,
    "her_od": 712.0,
    "opi_od": 3258.0,
    "OD_sum": 5082.0,
    "coke_per": 21.881149153876425,
    "her_per": 14.010232192050372,
    "opi_per": 64.1086186540732
  },
  {
    "state": "Oklahoma",
    "year": 2015,
    "coke_od": 30.0,
    "her_od": 32.0,
    "opi_od": 427.0,
    "OD_sum": 489.0,
    "coke_per": 6.134969325153374,
    "her_per": 6.5439672801636,
    "opi_per": 87.32106339468302
  },
  {
    "state": "Oklahoma",
    "year": 2016,
    "coke_od": 30.0,
    "her_od": 48.0,
    "opi_od": 432.0,
    "OD_sum": 510.0,
    "coke_per": 5.88235294117647,
    "her_per": 9.411764705882353,
    "opi_per": 84.70588235294117
  },
  {
    "state": "Oklahoma",
    "year": 2017,
    "coke_od": 44.0,
    "her_od": 60.0,
    "opi_od": 387.0,
    "OD_sum": 491.0,
    "coke_per": 8.961303462321792,
    "her_per": 12.219959266802444,
    "opi_per": 78.81873727087576
  },
  {
    "state": "Oklahoma",
    "year": 2018,
    "coke_od": 44.0,
    "her_od": 81.0,
    "opi_od": 300.0,
    "OD_sum": 425.0,
    "coke_per": 10.352941176470589,
    "her_per": 19.058823529411764,
    "opi_per": 70.58823529411765
  },
  {
    "state": "Oregon",
    "year": 2015,
    "coke_od": 24.0,
    "her_od": 106.0,
    "opi_od": 328.0,
    "OD_sum": 458.0,
    "coke_per": 5.240174672489083,
    "her_per": 23.144104803493452,
    "opi_per": 71.61572052401746
  },
  {
    "state": "Oregon",
    "year": 2016,
    "coke_od": 30.0,
    "her_od": 113.0,
    "opi_od": 306.0,
    "OD_sum": 449.0,
    "coke_per": 6.6815144766147,
    "her_per": 25.16703786191537,
    "opi_per": 68.15144766146993
  },
  {
    "state": "Oregon",
    "year": 2017,
    "coke_od": 36.0,
    "her_od": 119.0,
    "opi_od": 344.0,
    "OD_sum": 499.0,
    "coke_per": 7.214428857715431,